@page "/loginDisplay"
@using System.Web;

<AuthorizeView>
    <Authorized>
        <b style="color:red"> Usuario Conectado: @context.User.Identity.Name</b>

        <a class="ml-md-auto btn btn-success"
           href="/logout?returnUrl=/"
           target="_top">Logout<span class="oi oi-account-logout"></span></a>
    </Authorized>
    <NotAuthorized>
        <div>
            <h2>Sales, srl</h2>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code { private string encode(string param)
            {
                return HttpUtility.UrlEncode(param);
            } }